{
    "extends": "@react-native-community",
    "rules": {
        "prettier/prettier": [
          "warn",
          {
            "singleQuote": true,
            "quoteProps": "consistent",
            "printWidth": 250
          }
        ],
        "indent": [
          "warn",
          2,
          {
            "SwitchCase": 1
          }
        ],
        "jsx-quotes": [
          "error",
          "prefer-double"
        ],
        "no-multi-spaces": [
          "warn"
        ],
        "camelcase": [
          "warn"
        ]
    }
}